name: Dev Build & Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-debug:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest

      - name: Build Store Debug APK
        run: ./gradlew assembleStoreDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: store-debug-apk
          path: app/build/outputs/apk/store/debug/app-store-debug.apk